/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a:link, a:visited, a:focus {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'DroidSansRegular';
  src: url("DroidSans-webfont.eot");
  src: url("DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("DroidSans-webfont.woff") format("woff"), url("DroidSans-webfont.ttf") format("truetype"), url("DroidSans-webfont.svg#DroidSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DroidSansBold';
  src: url("DroidSans-Bold-webfont.eot");
  src: url("DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("DroidSans-Bold-webfont.woff") format("woff"), url("DroidSans-Bold-webfont.ttf") format("truetype"), url("DroidSans-Bold-webfont.svg#DroidSansBold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*Default values */
/*mixins */
body {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  min-width: 360px;
  color: #333333; }

.maincontainer {
  width: 98%;
  min-width: 0px;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; }

p, h1, h2, h3, h4, h5, h6, ul, input, button, a {
  font-family: "Myriad Pro", "DroidSansRegular", "Arial"; }

p {
  line-height: 150%; }

button, input[type="submit"] {
  background-color: #ff7e2f;
  border: none;
  font-family: DroidSansBold;
  color: white;
  padding-top: 20%;
  padding-bottom: 20%;
  z-index: 1 !important; }

button:hover, input[type="submit"]:hover {
  cursor: pointer; }

.popup {
  z-index: 2;
  width: 60%;
  padding: 2.5%;
  background-color: white;
  position: fixed;
  display: block;
  top: 0;
  max-width: 600px;
  min-width: 216px;
  left: 0%;
  top: 0%; }
  .popup input, .popup button {
    width: 87%;
    padding: 3%;
    margin-bottom: 15px; }
  .popup input:active, .popup input:focus {
    outline-color: #ff7e2f; }
  .popup button, .popup input[type="submit"] {
    background-color: #ff7e2f;
    border: none;
    font-family: DroidSansBold;
    font-size: 1em;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    -webkit-box-shadow: 0 5px 6px -3px #888888;
    -moz-box-shadow: 0 5px 6px -3px #888888;
    box-shadow: 0 5px 6px -3px #888888;
    position: relative;
    top: 0; }
  .popup button:active, .popup input[type="submit"]:active {
    -webkit-box-shadow: 0 5px 6px -5px #888888;
    -moz-box-shadow: 0 5px 6px -5px #888888;
    box-shadow: 0 5px 6px -5px #888888;
    top: -1px; }
  .popup button:hover, .popup input[type="submit"]:hover {
    cursor: pointer; }
  .popup button:active, .popup input[type="submit"]:active, .popup button:focus, .popup input[type="submit"]:focus {
    border: none;
    outline: 0; }
  .popup .popupLeft {
    width: 50%;
    float: left; }
  .popup .popupRight {
    width: 50%;
    float: right; }
  .popup input[type="submit"] {
    float: right;
    margin-top: 15px;
    width: 47%;
    padding: 2%;
    margin-right: 3%; }
  .popup h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: DroidSansBold; }

.infoTile {
  width: 250px;
  padding: 30px;
  float: left;
  background-color: white;
  margin-right: 30px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 5px 6px -4px #888888;
  -moz-box-shadow: 0 5px 6px -4px #888888;
  box-shadow: 0 5px 6px -4px #888888;
  border: 2px solid #cccccc; }
  .infoTile h3 {
    font-weight: bold;
    margin-bottom: 11px;
    text-transform: uppercase;
    font-family: DroidSansBold;
    text-align: center; }
  .infoTile p {
    font-size: 16px;
    line-height: 150%;
    font-family: "Myriad Pro", "DroidSansRegular", "Arial"; }
  .infoTile button {
    clear: both; }

.aboutList:last-of-type {
  margin-right: 0;
  float: right; }

#blanket {
  width: 3840px;
  height: 2160px;
  background-color: rgba(75, 75, 75, 0.5);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; }

#header {
  width: 100%;
  background-color: #449143;
  padding: 15px 0px 0px 0px;
  -webkit-box-shadow: 0 5px 6px -4px #888888;
  -moz-box-shadow: 0 5px 6px -4px #888888;
  box-shadow: 0 5px 6px -4px #888888;
  position: fixed;
  text-transform: uppercase;
  z-index: 100000000000000000000000;
  top: 0; }

#headerTop {
  width: 90%;
  max-width: 1366px;
  margin: auto auto;
  overflow: hidden; }
  #headerTop h1 {
    font-size: 36px;
    float: left;
    font-family: DroidSansBold;
    color: white;
    margin: 0 !important; }
  #headerTop h4 {
    float: right;
    font-family: "Myriad Pro", "DroidSansRegular", "Arial";
    color: white;
    font-size: 18px;
    margin-top: 15px; }

#headerBottom {
  width: 90%;
  margin: 15px auto;
  margin-bottom: 0px;
  background-color: #ff7e2f;
  padding: 5%;
  padding-top: 10px;
  padding-bottom: 10px; }
  #headerBottom #mainNavHolder {
    width: 100%;
    margin: auto;
    max-width: 1366px;
    position: relative;
    left: -10px; }
  #headerBottom ul {
    list-style: none;
    display: inline; }
    #headerBottom ul li {
      list-style: none;
      display: inline;
      color: white;
      padding: 10px;
      font-size: 18px; }
    #headerBottom ul li:hover {
      background-color: #333333; }
    #headerBottom ul li:first-of-type {
      border-left: none; }
  #headerBottom .subnav {
    display: none; }

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  .popup {
    width: 80%;
    padding: 5%;
    top: 0;
    left: 0;
    min-width: 288px; }
    .popup .popupLeft, .popup .popupRight {
      width: 100% !important; }
    .popup input, .popup button, .popup h3 {
      margin-left: 3%; } }
h1 {
  float: left;
  font-size: 40px;
  font-family: 'DroidSansBold';
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 4%; }

#userNameBalance {
  float: right;
  margin-top: 36px;
  font-size: 24px;
  margin-right: 4%; }

.homepageElement {
  padding: 4%;
  margin-bottom: 10px;
  background-color: white;
  -webkit-box-shadow: 0 5px 6px -3px #888888;
  -moz-box-shadow: 0 5px 6px -3px #888888;
  box-shadow: 0 5px 6px -3px #888888; }
  .homepageElement h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: DroidSansBold;
    font-weight: bold;
    text-transform: uppercase; }
  .homepageElement button, .homepageElement input[type="submit"] {
    background-color: #ff7e2f;
    border: none;
    font-family: DroidSansBold;
    font-size: 1em;
    padding: 15px;
    -webkit-box-shadow: 0 5px 6px -3px #888888;
    -moz-box-shadow: 0 5px 6px -3px #888888;
    box-shadow: 0 5px 6px -3px #888888;
    position: relative;
    top: 0;
    float: right; }
  .homepageElement button:active, .homepageElement input[type="submit"]:active {
    -webkit-box-shadow: 0 5px 6px -5px #888888;
    -moz-box-shadow: 0 5px 6px -5px #888888;
    box-shadow: 0 5px 6px -5px #888888;
    top: -1px; }
  .homepageElement button:active, .homepageElement input[type="submit"]:active, .homepageElement button:focus, .homepageElement input[type="submit"]:focus {
    border: none;
    outline: 0; }

#statsContainer {
  width: 24%;
  float: left;
  margin-right: 2%;
  clear: left; }
  #statsContainer h4 {
    font-size: 24px;
    text-align: center;
    margin: 10px;
    margin-bottom: 25px; }
  #statsContainer span {
    font-family: 'DroidSansBold';
    color: #53b352;
    text-transform: uppercase; }

#transactionContainer {
  width: 58%;
  float: right; }
  #transactionContainer table {
    width: 100%;
    margin-bottom: 25px;
    font-family: "Myriad Pro", "DroidSansRegular", "Arial";
    border: 2px solid #cccccc;
    -webkit-box-shadow: 0 5px 6px -4px #888888;
    -moz-box-shadow: 0 5px 6px -4px #888888;
    box-shadow: 0 5px 6px -4px #888888; }
  #transactionContainer th {
    text-align: left;
    background-color: #53b352;
    padding: 10px;
    font-size: 20px;
    font-family: DroidSansBold;
    color: white;
    white-space: nowrap;
    vertical-align: middle; }
  #transactionContainer tr:nth-of-type(odd) {
    background-color: white; }
  #transactionContainer tr:nth-of-type(even) {
    background-color: #f2f2f2; }
  #transactionContainer td {
    text-align: left;
    padding: 2%;
    color: #333333;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle; }

#stocksContainer {
  width: 92%;
  float: left;
  overflow: hidden;
  white-space: nowrap; }
  #stocksContainer h3 {
    font-size: 30px !important; }
  #stocksContainer #toScrollStocks {
    width: 10000px;
    height: 250px;
    position: relative;
    left: 0px; }
    #stocksContainer #toScrollStocks h3 {
      font-size: 48px !important; }
  #stocksContainer h5 {
    font-size: 28px;
    margin-bottom: 16px; }
  #stocksContainer button {
    clear: both; }
  #stocksContainer .stockLabels {
    width: 43%;
    float: left;
    padding-right: 7%;
    text-align: right;
    padding-top: 6%;
    padding-bottom: 6%;
    border-right: 1px solid #cccccc; }
    #stocksContainer .stockLabels h5 {
      font-size: 24px;
      font-family: "Myriad Pro", "DroidSansRegular", "Arial";
      color: #cccccc;
      position: relative;
      top: 2px; }
    #stocksContainer .stockLabels h5:last-of-type {
      margin-bottom: 0px;
      top: 8px; }
  #stocksContainer .stockValues {
    width: 43%;
    float: right;
    padding-left: 6%;
    text-align: left;
    padding-top: 6%;
    padding-bottom: 6%; }
    #stocksContainer .stockValues h5 {
      font-family: DroidSansBold;
      color: #53b352; }
    #stocksContainer .stockValues .shareValue {
      position: relative;
      left: -6px; }
    #stocksContainer .stockValues h5:last-of-type {
      margin-bottom: 0px; }
    #stocksContainer .stockValues .super {
      font-size: 12px;
      vertical-align: super;
      font-family: "Myriad Pro", "DroidSansRegular", "Arial"; }
    #stocksContainer .stockValues .perShare {
      font-family: "Myriad Pro", "DroidSansRegular", "Arial";
      font-size: 14px;
      font-family: "Myriad Pro", "DroidSansRegular", "Arial"; }
  #stocksContainer .controlHolder {
    height: 0;
    width: 0;
    overflow: display; }
  #stocksContainer #nextStockHolder {
    float: right; }
  #stocksContainer .controls {
    height: 50px;
    width: 100px;
    margin-right: 20px;
    opacity: .15;
    z-index: 1;
    position: relative;
    background-image: url("../images/leftArrow_333.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto; }
  #stocksContainer .controls:hover {
    cursor: pointer; }
  #stocksContainer #nextStock {
    left: 0px;
    background-image: url("../images/rightArrow_333.png"); }

#eventsContainer {
  width: 92%;
  float: left;
  overflow: hidden; }
  #eventsContainer #nextEvent {
    left: 0px;
    background-image: url("../images/rightArrow_333.png"); }
  #eventsContainer #toScrollEvents {
    width: 10000px;
    height: 250px;
    position: relative;
    left: 0px;
    height: 200px !important; }
  #eventsContainer .controls {
    height: 50px;
    width: 100px;
    margin-right: 20px;
    opacity: .15;
    z-index: 1;
    position: relative;
    background-image: url("../images/leftArrow_333.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto; }
  #eventsContainer .controls:hover {
    cursor: pointer; }
  #eventsContainer .controlHolder {
    height: 0 !important;
    width: 0;
    overflow: display; }
  #eventsContainer #nextEventHolder {
    float: right; }
  #eventsContainer .eventTile {
    overflow: hidden;
    white-space: nowrap; }
    #eventsContainer .eventTile h3 {
      font-size: 24px !important;
      color: #53b352;
      text-transform: none;
      font-family: "Myriad Pro", "DroidSansRegular", "Arial";
      font-weight: normal;
      margin-bottom: 8px;
      width: 100%;
      padding-bottom: 8px;
      border-bottom: 1px #cccccc solid;
      clear: both; }
      #eventsContainer .eventTile h3 span {
        vertical-align: super;
        font-size: 16px; }
    #eventsContainer .eventTile h6 {
      font-size: 18px !important;
      color: #cccccc;
      text-transform: none;
      font-family: "Myriad Pro", "DroidSansRegular", "Arial";
      width: 100%;
      text-align: center;
      margin-bottom: 0px;
      clear: both; }
    #eventsContainer .eventTile h1 {
      font-size: 48px;
      width: 100%;
      text-align: center;
      margin: 0;
      margin-top: 0px;
      margin-bottom: 30px;
      margin-top: 30px;
      clear: both; }
      #eventsContainer .eventTile h1 span {
        vertical-align: super;
        font-size: 24px; }
    #eventsContainer .eventTile h4 {
      font-size: 20px !important;
      width: 100%;
      color: #53b352;
      text-align: center;
      padding-bottom: 8px;
      border-bottom: 1px #cccccc solid;
      font-family: DroidSansRegular;
      margin-bottom: 10px;
      white-space: nowrap;
      clear: both; }
    #eventsContainer .eventTile .titleContainer {
      width: 100%;
      overflow: hidden;
      white-space: nowrap; }
    #eventsContainer .eventTile .descriptionContainer {
      display: none; }
    #eventsContainer .eventTile button {
      clear: both;
      padding: 12.5px;
      font-size: .85em; }
