/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a:link, a:visited, a:focus {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'DroidSansRegular';
  src: url("DroidSans-webfont.eot");
  src: url("DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("DroidSans-webfont.woff") format("woff"), url("DroidSans-webfont.ttf") format("truetype"), url("DroidSans-webfont.svg#DroidSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DroidSansBold';
  src: url("DroidSans-Bold-webfont.eot");
  src: url("DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("DroidSans-Bold-webfont.woff") format("woff"), url("DroidSans-Bold-webfont.ttf") format("truetype"), url("DroidSans-Bold-webfont.svg#DroidSansBold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*Default values */
/*mixins */
body {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  min-width: 360px;
  color: #333333; }

.maincontainer {
  width: 98%;
  min-width: 0px;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; }

p, h1, h2, h3, h4, h5, h6, ul, input, button, a {
  font-family: "Myriad Pro", "DroidSansRegular", "Arial"; }

p {
  line-height: 150%; }

button, input[type="submit"] {
  background-color: #ff7e2f;
  border: none;
  font-family: DroidSansBold;
  color: white;
  padding-top: 20%;
  padding-bottom: 20%;
  z-index: 1 !important; }

button:hover, input[type="submit"]:hover {
  cursor: pointer; }

.popup {
  z-index: 2;
  width: 60%;
  padding: 2.5%;
  background-color: white;
  position: fixed;
  display: block;
  top: 0;
  max-width: 600px;
  min-width: 216px;
  left: 0%;
  top: 0%; }
  .popup input, .popup button {
    width: 87%;
    padding: 3%;
    margin-bottom: 15px; }
  .popup input:active, .popup input:focus {
    outline-color: #ff7e2f; }
  .popup button, .popup input[type="submit"] {
    background-color: #ff7e2f;
    border: none;
    font-family: DroidSansBold;
    font-size: 1em;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    -webkit-box-shadow: 0 5px 6px -3px #888888;
    -moz-box-shadow: 0 5px 6px -3px #888888;
    box-shadow: 0 5px 6px -3px #888888;
    position: relative;
    top: 0; }
  .popup button:active, .popup input[type="submit"]:active {
    -webkit-box-shadow: 0 5px 6px -5px #888888;
    -moz-box-shadow: 0 5px 6px -5px #888888;
    box-shadow: 0 5px 6px -5px #888888;
    top: -1px; }
  .popup button:hover, .popup input[type="submit"]:hover {
    cursor: pointer; }
  .popup button:active, .popup input[type="submit"]:active, .popup button:focus, .popup input[type="submit"]:focus {
    border: none;
    outline: 0; }
  .popup .popupLeft {
    width: 50%;
    float: left; }
  .popup .popupRight {
    width: 50%;
    float: right; }
  .popup input[type="submit"] {
    float: right;
    margin-top: 15px;
    width: 47%;
    padding: 2%;
    margin-right: 3%; }
  .popup h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: DroidSansBold; }

.infoTile {
  width: 250px;
  padding: 30px;
  float: left;
  background-color: white;
  margin-right: 30px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 5px 6px -4px #888888;
  -moz-box-shadow: 0 5px 6px -4px #888888;
  box-shadow: 0 5px 6px -4px #888888;
  border: 2px solid #cccccc; }
  .infoTile h3 {
    font-weight: bold;
    margin-bottom: 11px;
    text-transform: uppercase;
    font-family: DroidSansBold;
    text-align: center; }
  .infoTile p {
    font-size: 16px;
    line-height: 150%;
    font-family: "Myriad Pro", "DroidSansRegular", "Arial"; }
  .infoTile button {
    clear: both; }

.aboutList:last-of-type {
  margin-right: 0;
  float: right; }

#blanket {
  width: 3840px;
  height: 2160px;
  background-color: rgba(75, 75, 75, 0.5);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; }

#header {
  width: 100%;
  background-color: #449143;
  padding: 15px 0px 0px 0px;
  -webkit-box-shadow: 0 5px 6px -4px #888888;
  -moz-box-shadow: 0 5px 6px -4px #888888;
  box-shadow: 0 5px 6px -4px #888888;
  position: fixed;
  text-transform: uppercase;
  z-index: 100000000000000000000000;
  top: 0; }

#headerTop {
  width: 90%;
  max-width: 1366px;
  margin: auto auto;
  overflow: hidden; }
  #headerTop h1 {
    font-size: 36px;
    float: left;
    font-family: DroidSansBold;
    color: white;
    margin: 0 !important; }
  #headerTop h4 {
    float: right;
    font-family: "Myriad Pro", "DroidSansRegular", "Arial";
    color: white;
    font-size: 18px;
    margin-top: 15px; }

#headerBottom {
  width: 90%;
  margin: 15px auto;
  margin-bottom: 0px;
  background-color: #ff7e2f;
  padding: 5%;
  padding-top: 10px;
  padding-bottom: 10px; }
  #headerBottom #mainNavHolder {
    width: 100%;
    margin: auto;
    max-width: 1366px;
    position: relative;
    left: -10px; }
  #headerBottom ul {
    list-style: none;
    display: inline; }
    #headerBottom ul li {
      list-style: none;
      display: inline;
      color: white;
      padding: 10px;
      font-size: 18px; }
    #headerBottom ul li:hover {
      background-color: #333333; }
    #headerBottom ul li:first-of-type {
      border-left: none; }
  #headerBottom .subnav {
    display: none; }

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  .popup {
    width: 80%;
    padding: 5%;
    top: 0;
    left: 0;
    min-width: 288px; }
    .popup .popupLeft, .popup .popupRight {
      width: 100% !important; }
    .popup input, .popup button, .popup h3 {
      margin-left: 3%; } }
h1 {
  float: left;
  font-size: 40px;
  font-family: 'DroidSansBold';
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 4%; }

.transactionHistoryElement {
  clear: both;
  width: 96%;
  border: 1px solid #cccccc;
  padding: 2%;
  overflow: hidden;
  position: relative;
  left: 350px;
  opacity: 0; }
  .transactionHistoryElement .timestampHolder {
    float: left;
    width: 20%; }
    .transactionHistoryElement .timestampHolder h3 {
      font-family: "Myriad Pro", "DroidSansRegular", "Arial";
      font-size: 24px;
      text-align: left;
      color: #53b352; }
    .transactionHistoryElement .timestampHolder h5 {
      font-family: "Myriad Pro", "DroidSansRegular", "Arial";
      font-size: 18px;
      text-align: left; }
  .transactionHistoryElement .infoFromHolder {
    float: left;
    width: 40%;
    white-space: nowrap;
    overflow: hidden; }
    .transactionHistoryElement .infoFromHolder h3 {
      font-family: "Myriad Pro", "DroidSansRegular", "Arial";
      font-size: 24px;
      text-align: left;
      color: #53b352; }
    .transactionHistoryElement .infoFromHolder h5 {
      font-family: "Myriad Pro", "DroidSansRegular", "Arial";
      font-size: 18px;
      text-align: left; }
  .transactionHistoryElement .amountBalanceHolder {
    float: right;
    width: 25%; }
    .transactionHistoryElement .amountBalanceHolder h3 {
      font-family: "Myriad Pro", "DroidSansRegular", "Arial";
      font-size: 24px;
      text-align: left;
      color: #53b352; }
    .transactionHistoryElement .amountBalanceHolder h5 {
      font-family: "Myriad Pro", "DroidSansRegular", "Arial";
      font-size: 18px;
      text-align: left; }

.transactionHistoryElement:nth-of-type(odd) {
  background-color: white; }

.transactionHistoryElement:nth-of-type(even) {
  background-color: #f2f2f2; }

#transactionTile {
  width: 96% !important;
  border: none !important;
  padding: 2%; }
