@import 'default';

h1{
	float: left;
	font-size:  40px;
	font-family: 'DroidSansBold';
	text-transform: uppercase;
	margin-bottom: 25px;
	margin-top: 25px;
	margin-left: 4%;

	
}

.transactionHistoryElement{
	clear:both;
	width:96%;
	border: 1px solid $grey;
	padding: 2%;
	overflow: hidden;
	position: relative;
	left: 200px;
	opacity: 0;

	.timestampHolder{
		float:left;
		width: 20%;

		h3{
			font-family: $font-stack;
			font-size: 20px;
			text-align: left;
			color: $green;
		}
		h5{
			font-family: $font-stack;
			font-size: 16px;
			text-align: left;
		}
	}

	.infoFromHolder{
		float:left;
		width: 40%;
		white-space: nowrap;
		overflow: hidden;

		h3{
			font-family: $font-stack;
			font-size: 20px;
			text-align: left;
			color: $green;
		}
		h5{
			font-family: $font-stack;
			font-size: 16px;
			text-align: left;
		}
	}

	.amountBalanceHolder{
		float:right;
		width: 25%;

		h3{
			font-family: $font-stack;
			font-size: 20px;
			text-align: right;
			color: $green;
		}
		h5{
			font-family: $font-stack;
			font-size: 16px;
			text-align: right;
		}
	}

	.transactionInfoButton{
		
		float:right;
		width: 10%;
		height: 30px !important;
		padding: 0px;
		margin: 0px;

	}
}

.transactionHistoryElement:nth-of-type(odd){
	background-color: white;

}

.transactionHistoryElement:nth-of-type(even){
background-color: $lightGrey;
}

#transactionTile{
	width: 96% !important;
	border: none !important;
	padding: 2%
}